<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322003199307-uh774mqf2lo593k517urg43ekarfcqiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322003199307-uh774mqf2lo593k517urg43ekarfcqiu</string>
	<key>API_KEY</key>
	<string>AIzaSyC6sCBPI-_NOZOH2h-346GJGBC11OR97OQ</string>
	<key>GCM_SENDER_ID</key>
	<string>322003199307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bob.kenyaPayment</string>
	<key>PROJECT_ID</key>
	<string>kenyapayment-5a8b2</string>
	<key>STORAGE_BUCKET</key>
	<string>kenyapayment-5a8b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322003199307:ios:c0119e5db1b117959974ce</string>
	<key>DATABASE_URL</key>
	<string>https://kenyapayment-5a8b2.firebaseio.com</string>
</dict>
</plist>